/* Section Navbar Menu */
.navbar {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #560cca;
  background-image: url(/img/back-header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #fff;
  position: fixed;
  z-index: 9999;
  /*Burger Menu*/
  /*Burger Menu*/
  /*Liens Menu*/
  /*Liens Menu*/
}
.navbar .container {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
}
.navbar .container .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.navbar .logo-header {
  /* Le logo */
  width: 190px;
  display: block;
  margin: -5px auto;
}
.navbar .button-link {
  /* Bouton billeterie */
  background-color: #ffcc08;
  color: #000;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-style: italic;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #000;
  border-radius: 5px;
}
.navbar .button-link:hover {
  background-color: #b18e02;
}
.navbar .burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}
.navbar .burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: #fff;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar .burger-line:nth-child(1) {
  top: 0;
}
.navbar .burger-line:nth-child(2), .navbar .burger-line:nth-child(3) {
  top: 0.5rem;
}
.navbar .burger-line:nth-child(4) {
  top: 1rem;
}
.navbar .burger.is-active .burger-line:nth-child(1), .navbar .burger.is-active .burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}
.navbar .burger.is-active .burger-line:nth-child(2) {
  transform: rotate(45deg);
}
.navbar .burger.is-active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navbar .menu-link {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: inherit;
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
}
.navbar .menu-link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.45s cubic-bezier(0.835, -0.005, 0.06, 1);
  transform: scaleX(0);
}
.navbar .menu-link:after {
  transform-origin: right;
}
.navbar .menu-link:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

@media only screen and (max-width: 1000px) {
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
  }
  .navbar .menu.is-active {
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0px;
  }
  .navbar .menu-inner li {
    padding: 10px 0px;
  }
}/*# sourceMappingURL=header.css.map */